{% extends "map.base.html.twig" %}

{% block css %}
    <style type="text/css">
        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .map-container {
            display: flex;
            justify-content: center; /* Centre la carte horizontalement */
            align-items: center; /* Centre la carte verticalement */
            height: 80vh; /* Limite la hauteur à 80% de la fenêtre */
        }

        #map {
            width: 90%;
            height: 90%;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        h1 {
            text-align: center;
            margin-top: 20px;
        }

        /* Style du popup */
        .leaflet-popup-content {
            text-align: center; /* Centrage du contenu */
        }

        /* Style du titre */
        .leaflet-popup-content h3 {
            margin: 0 0 10px; /* Espacement du bas */
            font-size: 18px; /* Taille du titre */
            color: #333; /* Couleur du titre */
        }

        /* Style des infos de la station */
        .station-info {
            display: flex; /* Utilisation d'un layout flexbox */
            justify-content: space-between; /* Espacement égal entre les éléments */
            margin-bottom: 10px; /* Espacement du bas */
        }

        /* Style des informations sur les vélos */
        .bike-info {
            display: flex; /* Utilisation d'un layout flexbox */
            flex-direction: column; /* Empile les éléments les uns sur les autres */
            align-items: center; /* Centrage horizontal */
        }

        .bike-info img {
            width: 50px; /* Largeur de l'image */
            height: auto; /* Hauteur automatique */
            margin-bottom: 5px; /* Espacement du bas */
        }

        .bike-info span {
            font-size: 14px; /* Taille de la police */
            color: #666; /* Couleur du texte */
        }

        /* Style du paragraphe de la capacité */
        .leaflet-popup-content p {
            margin: 0; /* Annule les marges par défaut */
            font-size: 14px; /* Taille de la police */
            color: #666; /* Couleur du texte */
        }

        .fixed-popup {
            width: 250px;  /* Set a fixed width */
            height: auto;  /* Allow height to adjust based on content */
            max-height: 300px;  /* Optional: set a maximum height */
            overflow-y: auto;  /* Enable scrolling if content exceeds max height */
        }
        .favBtn {
            background-color: #007bff; /* Couleur de fond */
            color: white; /* Couleur du texte */
            border: none; /* Suppression de la bordure */
            border-radius: 5px; /* Coins arrondis */
            padding: 10px 15px; /* Espacement intérieur */
            font-size: 14px; /* Taille de la police */
            cursor: pointer; /* Curseur pointer */
            transition: background-color 0.3s; /* Effet de transition */
        }

        .favBtn:hover {
            background-color: #0056b3; /* Couleur de fond au survol */
        }

        /* Section d'informations */
        .info-section {
            text-align: center;
            padding: 20px;
            background-color: #f8f8f8;
            margin-top: 20px;
        }



        .favBtn {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .favBtn:hover {
            background-color: #0056b3;
        }

        .deFavBtn {
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .deFavBtn:hover {
            background-color: #c82333;
        }

        /* Section de statistiques */
        .stats-section {
            width: 80%;
            display: flex;
            justify-content: space-around;
            padding: 15px 20px;
            background-color: #113f67;
            margin: 15px auto 0 auto; /* Center the section on the page */
            font-size: 16px;
            color: #fff; /* Make text color white for better contrast */
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .stats-section p {
            margin: 8px 0;
            font-size: 18px;
            font-weight: 500;
            color: #e0e0e0; /* Slightly lighter color for text */
        }

        .stats-section p span {
            display: block;
            font-size: 14px;
            font-weight: normal;
            color: #b0b0b0; /* Lighter color for subtext */
        }

        /* Animation au survol */
        .stats-section p:hover {
            color: #007bff;
            transform: scale(1.05);
            transition: color 0.3s ease, transform 0.3s ease;
        }

    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

{% endblock %}

{% block body %}

    <div class="map-container">
        <div id="map">
            <!-- Ici s'affichera la carte -->
        </div>
    </div>

    <!-- Section de mini-statistiques en bas de la page -->
    <div class="stats-section">
    <p style="color: white;">Nombre total de stations : {{ totalStations }}</p>
    <p style="color: white;">Vélos électriques disponibles : {{ totalElectricBikes }}</p>
    <p style="color: white;">Vélos mécaniques disponibles : {{ totalMechanicalBikes }}</p>
</div>

    <div class="info-section">
        <p>Favorisez la mobilité écologique en utilisant notre système de vélos en libre-service. Nos stations réparties dans la ville vous permettent de trouver rapidement un vélo près de chez vous.</p>
    </div>

{% endblock %}

{% block js %}
    <script src="/js/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script type="text/javascript">

        // On initialise la latitude et la longitude de Paris (centre de la carte)
        var lat = 48.8566; // Nouvelle latitude pour Paris
        var lon = 2.3522;  // Nouvelle longitude pour Paris
        var macarte = null;

        // Fonction d'initialisation de la carte
        function initMap() {
            // Créer l'objet "macarte" et l'insèrer dans l'élément HTML qui a l'ID "map"
            macarte = L.map('map').setView([lat, lon], 12); // Ajuster le zoom à 12
            // Leaflet ne récupère pas les cartes (tiles) sur un serveur par défaut. Nous devons lui préciser où nous souhaitons les récupérer. Ici, openstreetmap.fr
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                // Il est toujours bien de laisser le lien vers la source des données
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 1,
                maxZoom: 20
            })
                .addTo(macarte);


            // Créer un groupe de marqueurs
            var markers = L.markerClusterGroup();

            // Ajouter les marqueurs à la carte
            // Ajouter les marqueurs à la carte avec les popups
            var markers = L.markerClusterGroup();
            // Ajouter les marqueurs à la carte avec les popups
            var markers = L.markerClusterGroup();


            // Remove the second and third 'var markers = ...' lines
            var markers = L.markerClusterGroup();

// Add the custom markers and popups as you loop through the stations
            {% for station in stations %}
            var customIcon = L.icon({
                iconUrl: 'images/img.png',
                iconSize: [38, 38],
                iconAnchor: [19, 38],
                popupAnchor: [0, -38]
            });

            var marker = L.marker([{{ station.lat }}, {{ station.lon }}], {icon: customIcon});

            var popupContent =
                '<div class="leaflet-popup-content fixed-popup">' +
                '<h3>{{ station.nom }}</h3>' +
                '<div class="station-info">' +
                '<div class="bike-info">' +
                '<span>Vélo électrique</span>' +
                '<img src="images/blueBike.png" alt="Vélo électrique">' +
                '<span>{{ station.veloelec }}</span>' +
                '</div>' +
                '<div class="bike-info">' +
                '<span>Vélo mécanique</span>' +
                '<img src="images/greenBike.png" alt="Vélo mécanique">' +
                '<span>{{ station.velomecha }}</span>' +
                '</div>' +
                '</div>' +
                '<p>Vélos disponibles : {{ station.velodispo }}</p>' +
                '{% if app.user %}' +
                '{% if station.id in favoriteStationIds %}' +
                '<form action="{{ path('app_station_delete', {'id': station.id}) }}" method="post">' +
                '<button type="submit" class="deFavBtn">Retirer des favoris</button>' +
                '</form>' +
                '{% else %}' +
                '<form action="{{ path('app_add_favorite', {'id': station.id}) }}" method="post">' +
                '<button type="submit" class="favBtn">Mettre en favoris</button>' +
                '</form>' +
                '{% endif %}' +
                '{% endif %}'+
                '</div>';

            marker.bindPopup(popupContent); // Simply bind the popup





            markers.addLayer(marker); // Add each marker to the marker cluster group
            {% endfor %}

            macarte.addLayer(markers);

            // Ajouter le groupe de marqueurs à la carte
            macarte.addLayer(markers);
        }
        window.onload = function(){
            // Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            initMap();

            // Utilisation de la géolocalisation de l'utilisateur
            if ("geolocation" in navigator) {
                // Utilise watchPosition() au lieu de getCurrentPosition()
                var watchId = navigator.geolocation.watchPosition(function(position) {
                    var lat = position.coords.latitude;
                    var lon = position.coords.longitude;

                    // Centrer la carte sur la position de l'utilisateur
                    macarte.setView([lat, lon], 12);

                    // Définir l'icône personnalisée pour l'indicateur de position
                    var customIcon = L.icon({
                        iconUrl: 'AnimatedIcons/positionUtilisateur.gif', // Spécifiez le chemin de votre icône personnalisée
                        iconSize: [60, 60], // Taille de l'icône
                        iconAnchor: [30, 60], // Point d'ancrage de l'icône
                        popupAnchor: [0, -60] // Point d'ancrage du popup
                    });

                    if (!macarte.marker) {
                        macarte.marker = L.marker([lat, lon], {icon: customIcon}).addTo(macarte);
                        macarte.marker.bindPopup("Vous êtes ici");
                    } else {
                        const currentPos = macarte.marker.getLatLng();
                        // Only update if the position is different
                        if (currentPos.lat !== lat || currentPos.lng !== lon) {
                            macarte.marker.setLatLng([lat, lon]);
                        }
                    }
                });
            } else {
                alert("La géolocalisation n'est pas disponible sur votre navigateur.");
            }




        };
    </script>
{% endblock %}